<head><link rel="stylesheet" href="/css/style.css">
<title>404</title></head>
<link rel="icon" href="/img/weather.png">

<div class="main-contain"><h1>{{title}}</h1> <h1>{{errorMessage}}</h1> 
<a href="/">Click to go Back Home</a></h1>
</div>



{{>footer}}